html {
  font-family: 'Bebas Neue', cursive;
}

body {
  font-size: 62.5%;
  background-color: #3F2E56;
}

h1 {
  margin: 0;
  font-size: 3.2rem;
  color: #FAF2A1;
}

h4 {
  color: #FAF2A1;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.game-div {
  text-align: center;
  align-items: center;
  width: 100%;
}

.title-div {
  background-color: #401F3E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.counter {
  color: white;
  font-size: 4rem;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #401F3E;
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 1.5rem;
}

.choices i {
  color: white;
  font-size: 8rem;
}

.choice-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.choice-menu i {
  color: white;
  font-size: 4rem;
}

.player-choice {
  height: 6.5rem;
  width: 6.5rem;
}

.player-choice:hover {
  background-color: #721344;
  cursor: pointer;
}
